<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703004426969-dd2a98dubl0kuk6jjccsofq0elulfnvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703004426969-dd2a98dubl0kuk6jjccsofq0elulfnvb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>703004426969-l28nh6qcaaj6oshr3692nm1rhvbha572.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBoIdnTDmELkPzv1H20g0pPlFZuGI2T9mU</string>
	<key>GCM_SENDER_ID</key>
	<string>703004426969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nathanieljones.heritage</string>
	<key>PROJECT_ID</key>
	<string>heritage-45d89</string>
	<key>STORAGE_BUCKET</key>
	<string>heritage-45d89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703004426969:ios:fdf80e333eed85341df4c8</string>
	<key>DATABASE_URL</key>
	<string>https://heritage-45d89.firebaseio.com</string>
</dict>
</plist>